
<div class="ml-5 mt-5s">
  <div class="container">
   <div class="row pt-5">
    <div class="col-md-6 mx-md-auto">
      <div class="card mt-5">
        <div class="card-header">
          <h1>New Article</h1>
        </div>
        <div class="card-body">
          <%= render "form" %>
        </div>
      </div>
      <%= link_to 'Back', articles_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
</div>